@model Marvel.Models.CharacterViewModel
@{
    ViewBag.Title = "Character List";
    ViewBag.Copyright = Model.AttributionText;
}

<div class="d-flex flex-row flex-wrap justify-content-center">
    @foreach (var character in Model.Data.Results)
    {
        <div class="m-2 shadow-lg p-2 bg-white rounded border d-flex flex-column __displayItem" style="width: 18rem">
            <img class="card-img-top border" src="@character.Thumbnail.Path.@character.Thumbnail.Extension.ToString().ToLower()" alt="@character.Name Image">
            <h4 class="card-title pt-1">@character.Name</h4>
            <p class="card-text">@character.Description</p>
            @Html.ActionLink("More Info", "Character", new { controller = "Home", id = character.Id }, new { @class = "btn btn-danger mt-auto" })
        </div>
    }
</div>
<hr />
<nav aria-label="...">
    <ul class="pagination">
        @if (Model.Data.Count != Model.Data.Total)
            {
                if (Model.Data.Offset == 0)
                {
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    @Html.ActionLink("Previous", "Index", "Home", new { userLimit = Model.Data.Limit, userOffset = Model.Data.Offset - Model.Data.Limit }, new { @class = "page-link" })
                </li>
            }

            long currentPage = Model.Data.Offset / Model.Data.Limit + 1;
            for (int i = -2; i <= 2; i++)
            {
                if (i == 0)
                {
                    <li class="page-item active">
                        <span class="page-link">
                            @currentPage
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                }
                else if ((Model.Data.Offset + Model.Data.Limit * i < Model.Data.Total) && Model.Data.Offset + Model.Data.Limit * i >= 0)
                {
                    <li class="page-item">
                        @Html.ActionLink((currentPage + i).ToString(), "Index", "Home", new { userLimit = Model.Data.Limit, userOffset = Model.Data.Offset + Model.Data.Limit * i }, new { @class = "page-link" })
                    </li>
                }
            }

            if (Model.Data.Offset + Model.Data.Limit >= Model.Data.Total)
            {
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    @Html.ActionLink("Next", "Index", "Home", new { userLimit = Model.Data.Limit, userOffset = Model.Data.Offset + Model.Data.Limit }, new { @class = "page-link" })
                </li>
            }
        }
    </ul>
</nav>
